/** 所有页面公用   */

/**所有页面通用*/
*{
    margin: 0;
    padding: 0;
    font: 1rem/1.2 tahoma, microsoft yahei, sans-serif, simsun;
}
html{
    position: relative;
    min-width: 1180px;
    width: 100%;
    height: 100%;
}
body{
    min-width: 1180px;
    /*min-height: 960px;*/
    min-height: 1500px;
    position: relative;
    width: 100%;
    height: 100%;
    /*background:rgba(50,51,51,1);*/
    background: #323333;
    opacity: 1;
}

/** 最外层包含体 */
.nav{
    position: relative;
    width: 1258px;
    /*background: rgba(50,51,51,1);*/
    background: #323333;
    opacity: 1;
    margin: 0px auto;
}


/**注册Dialog*/
.nav .register_overlay{
    position: absolute;
    height: 100%;
    width:100%;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    top: 0px;
    z-index: 1000;
    text-align:center;
}
.nav .register_data{
    position: relative;
    width:550px;
    height: 500px;
    margin: 150px auto;
    background: #FEC06B;
    opacity: 1;   /* 背景半透明 */
    text-align:center;
    z-index: 1001;
}
.nav .register_data .cleanDialog{
    float: right;
}
.nav .register_data .register_lable{
    font-size: 20px;
    color: #FD7C00;
}
.nav .register_overlay .register_data .register_dataitem{
    margin: 20px 0;
    text-align: left;
    margin-left: 20px;
    margin-top: 60px;
}

.nav .register_overlay .register_data .register_dataitem .registerinput{
    width:150px;
}

.nav  .register_overlay .register_data .register_dataitem .label{
    display:inline-block;  width:100px;  line-height: 44px;  color: #999; text-align: left;
    margin-left: 20px;
}
.nav  .register_overlay .register_data .register_dataitem .treamiteminput{
    display:inline-block;width:250px;text-align: left; box-sizing: border-box;  padding: 10px 0;  border: 0;background-color: #ededed
}
.nav .register_overlay  .register_dataitem .error_message {
    width: 30%;
    text-align: left;
    margin-left: 20px;
}
.nav .register_data .register_submit{
    width: 100px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
    color:white ;
    background: #FD7C00;
    padding: 5px;
    margin-top: 30px;
}

/**登录Dialog */
.nav .login_overlay{
    position: absolute;
    height: 100%;
    width:100%;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    top: 0px;
    z-index: 1000;
    text-align:center;
}
.nav .login_data{
    position: relative;
    width:550px;
    height: 500px;
    margin: 150px auto;
    background: #FEC06B;
    opacity: 1;   /* 背景半透明 */
    text-align:center;
    z-index: 1001;
    font-size: 1rem;
}
.nav .login_data .cleanDialog{
    float: right;
}
.nav .login_data .login_lable{
    font-size: 20px;
    color: #FD7C00;
}
.nav .login_overlay .login_data .login_dataitem{
    margin: 20px 0;
    width:100%;
    text-align: left;
    margin-left: 20px;
    margin-top: 60px;

}
.nav .login_overlay .login_data .login_dataitem .registerinput{
    width:150px;
}
.nav  .login_overlay.login_overlay .login_data .login_dataitem .label{
    display:inline-block;  width:100px;  line-height: 44px;  color: #999; text-align: left;
    margin-left: 20px;
}
.nav  .login_overlay.login_overlay .login_data .login_dataitem .treamiteminput{
    display:inline-block;width:250px;text-align: left; box-sizing: border-box;  padding: 10px 0;  border: 0;background-color: #ededed
}
.nav .login_overlay .login_data .login_dataitem .error_message {
    width: 30%;
    text-align: left;
    margin-left: 20px;
}
.nav .login_data .login_submit{
    width: 100px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
    color:white ;
    background: #FD7C00;
    padding: 5px;
    margin-top: 30px;
}


/**一级导航栏*/
.nav_top {
    position: relative;
    width: 100%;
    height: auto;
    /*background: rgba(50,51,51,1);*/
    background: #fff;
    opacity: 1;
    margin: auto;
}

.nav_top .nav {
    position: relative;
    width: 1258px;
    height: 43px;
    background: #fff;
}
.nav_top .nav  .nav_top_left{
    float: left;
    margin: 10px 10px 10px 12%;
}
.nav_top .nav  .nav_top_right{
    float: right;
    margin: 10px 12%;
}
.nav_top .nav  .nav_top_left .title{
    float: left;
    margin: 0px 10px;
}
.nav_top .nav  .nav_top_right .title{
    float: left;
    margin: 0px 11px;
}

/**二级导航栏*/
.nav .nav_bar{
    width: 100%;
    height: 100px;
    /*background:  rgba(0,0,0,.5);*/
    background: #000000;
    opacity: 0.9;
}
.nav .nav_bar .nav_bar_left .title{
    position: absolute;
    float: left;
    margin: 50px 100px;
}
.nav .nav_bar .nav_bar_right{
    float: right;
    margin: 50px 50px;

}
.nav .nav_bar .nav_bar_right .title{
    color: #fff;
    float: left;
    margin: auto 50px;
    margin-top: 15px;
}
.nav .nav_bar .nav_bar_right .selected{
    color: #9BA96B;
}

/**报名区域*/
.nav .applywindow{
    position: relative;
    width: 1000px;;
    height: auto;
    /*background: rgba(0,0,0,.5);*/
    /*background-color: #000000;*/
    background: url("../../images/homepage/applybg_01.jpg");
    background-repeat:no-repeat; background-size:100% 100%;
    -moz-background-size:100% 100%;
    opacity: 0.9;
    text-align: center;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav .applywindow .applywrap{
    float: right;
    width: 200px;
    height: 115px;
    text-align: center;
    margin: 0 16.2% 0 0;
}
.nav .applywindow .applywrap .applyentrance{
    float: left;
    width: 100%;
    height: 42px;
    /*background: rgba(254,202,1,.9);*/
    background: #FECA01;
    opacity: 1;
    text-align: center;
    margin:auto;
}
.nav .applywindow .applywrap .applyentrance .applyimg{
    float: left;
    margin-left: 38px;
    margin-top: 8px;
}
.nav .applywindow .applywrap .applyentrance .apply{
    float: right;
    font-size: 28px;
    margin-right: 56px;
}

/**排行榜区域*/
.nav .ranking{
    position: relative;
    width: 85%;
    height: auto;
    background: #fff;
    margin: auto;
    margin-left: 9.2%;
    border: 0px royalblue solid;

}
.nav .ranking .rankinglist{
    float: left;
    width: 237px;
    margin: 3% 0% 1% 1.5%;
    margin-top: 12px;
    text-align: center;
    border: 0px solid red;
}
.nav .ranking .rankinglist .rankTag{
    width:100%;
    height: 46px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 6px;
    color: white;
    border-radius: 5px;

}
/*.nav .ranking .ranklist{*/
/*height: 300px;*/
/*overflow-y: auto;*/
/*overflow-x: hidden;*/
/*scrollbar-arrow-color: #f4ae21; !**!!*三角箭头的颜色*!*/
/*scrollbar-face-color: #333; !**!!*立体滚动条的颜色*!*/
/*scrollbar-3dlight-color: #666; !**!!*立体滚动条亮边的颜*/
/*色*!*/
/*scrollbar-highlight-color: #666; !**!!*滚动条空白部分的*/
/*颜色*!*/
/*scrollbar-shadow-color: #999; !**!!*立体滚动条阴影的颜*/
/*色*!*/
/*scrollbar-darkshadow-color: #666; !**!!*立体滚动条强阴*/
/*影的颜色*!*/
/*scrollbar-track-color: #666; !**!!*立体滚动条背景颜色*!*/
/*scrollbar-base-color:#f8f8f8; !**!!*滚动条的基本颜色*!*/
/*}*/
.nav .ranking .rankinglist .rankli{
    list-style-type: none;
    background: white;
    border-radius: 0px;
    border: 0px solid red;
    border-radius: 5px;
    width: 100%;
    height: 58px;

}
.nav .ranking .rankinglist .rankli:nth-child(1){
    list-style-type: none;
    background: white;
    width: 106%;
    height: 58px;
    margin-left: -2.7%;
    border-radius: 5px;
    border: 1px solid grey;


}
.nav .ranking .rankinglist .rankli:nth-child(1) .left{
    margin-left: 22px;
}
.nav .ranking .rankinglist .rankli:nth-child(1) .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
}
.nav .ranking .rankinglist .rankli:nth-child(2){
    list-style-type: none;
    background: white;
    /*width: 108%;*/
    /*height: 125%;*/
    /*margin-left: -8px;*/
}
.nav .ranking .rankinglist .rankli:nth-child(2) .right{
    /*color: rgba(143,129,251,1);*/
    color: #8F81FB;
    font-size: 20px;
}
.nav .ranking .rankinglist .rankli:nth-child(3){
    list-style-type: none;
    background: white;
    /*width: 105%;*/
    /*height: 120%;*/
    /*margin-left: -5px;*/
}
.nav .ranking .rankinglist .rankli:nth-child(3) .right{
    /*color: rgba(62,148,145,1);*/
    color: #3E9491;
    font-size: 18px;
}

/*奖品排行排版*/
.nav .ranking .awardrankinglist{
    float: left;
    width: 237px;
    margin: 3% 0% 1% 1.5%;
    margin-top: 12px;
    text-align: center;
    border: 0px solid red;
}
.nav .ranking .awardrankinglist .rankTag{
    width:100%;
    height: 46px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 6px;
    color: white;
    border-radius: 5px;

}
.nav .ranking .awardrankinglist .rankli{
    list-style-type: none;
    /*background: white;*/
    border-radius: 0px;
    border: 0px solid red;
    width: 100%;
    height: 58px;
}
.nav .ranking .awardrankinglist .rankli:nth-child(1){
    list-style-type: none;
    background: #FECB00;
    width: 106%;
    height: 58.5px;
    margin-left: -2.7%;
    border-radius: 5px;
    border-bottom: 1px solid grey;

}
.nav .ranking .awardrankinglist .rankli:nth-child(1) .left{
    margin-left: 22px;
}
.nav .ranking .awardrankinglist .rankli:nth-child(1) .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
    color: white;

}
.nav .ranking .awardrankinglist .rankli:nth-child(2){
    list-style-type: none;
    /*background: white;*/
    /*width: 108%;*/
    /*height: 125%;*/
    /*margin-left: -8px;*/
}
.nav .ranking .awardrankinglist .rankli:nth-child(2) .right{
    /*color: rgba(143,129,251,1);*/
    color: #ffcb00;
    font-size: 20px;
}
.nav .ranking .awardrankinglist .rankli:nth-child(3){
    list-style-type: none;
    /*background: white;*/
    /*width: 105%;*/
    /*height: 120%;*/
    /*margin-left: -5px;*/
}
.nav .ranking .awardrankinglist .rankli:nth-child(3) .right{
    /*color: rgba(62,148,145,1);*/
    color: #abc9ec;
    font-size: 18px;
}
.nav .ranking .awardrankinglist .rankli .left{
    float: left;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-buttom: 10px;
    margin-left: 16px;
    border: 0px solid green;
}
.nav .ranking .awardrankinglist .rankli .middle{
    float: left;
    width: 35%;
    text-align: center;
    margin: 5px 0px;
    margin-top: 10px;
    margin-buttom: 10px;
    border: 0px solid green;
}
.nav .ranking .awardrankinglist .rankli .middle .middlesub{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: white;
}
.nav .ranking .awardrankinglist .rankli .middle .middlesubicon{
    float: left;
    margin-left: 10px;
}
.nav .ranking .awardrankinglist .rankli .middle .middlesubdownright{
    float: left;
    margin-left: 2px;
    font-size: 12px;
    margin-top: 3px;
    color: white;
}
.nav .ranking .awardrankinglist .rankli .right{
    float: right;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-buttom: 10px;
    margin-right: 22px;
    border: 0px solid green;
    color:white;
}
.nav .ranking .rankli:hover{
list-style-type: none;
 background: white;
    width: 106%;
    height: 58px;
    margin-left: -2.7%;
    border-radius: 5px;
}
.nav .ranking .rankinglist .rankli:hover .left{
    margin-left: 22px;
}
.nav .ranking .rankinglist .rankli:hover .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
}
.nav .ranking .awardrankinglist .rankli:hover{
    list-style-type: none;
    background: #FECB00;
    width: 106%;
    height: 58px;
    margin-left: -2.7%;
    border-radius: 5px;
}
.nav .ranking .awardrankinglist .rankli:hover .left{
    margin-left: 22px;
}
.nav .ranking .awardrankinglist .rankli:hover .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
}
.nav .ranking .rankli .left{
    float: left;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-buttom: 10px;
    margin-left: 16px;
    border: 0px solid green;
}
.nav .ranking .rankli .middle{
    float: left;
    width: 35%;
    text-align: center;
    margin: 5px 0px;
    margin-top: 10px;
    margin-buttom: 10px;
    border: 0px solid green;
}
.nav .ranking .rankli .middle .middlesub{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #4d4d4d;

}
.nav .ranking .rankli .middle .middlesubicon{
    float: left;
    margin-left: 10px;
}
.nav .ranking .rankli .middle .middlesubdownright{
    float: left;
    margin-left: 2px;
    font-size: 12px;
    margin-top: 3px;
    color: #808080;
}
.nav .ranking .rankli .right{
    float: right;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 14px;
    margin-buttom: 10px;
    margin-right: 22px;
    border: 0px solid green;
}

/**游戏列表区域*/
.nav .gameshow{
    position: relative;
    width: 990px ;
    height: auto;
    margin:auto;
    border: 0px red solid;

}
.nav .gameshow .gamelist{
    float: left;
    width: 990px ;
    height: auto;
    /*margin: 1% 3% 1% 5.8%;*/
    margin: 0% 0% 0% 1.5px;
    border: 0px royalblue solid;


}
.nav .gameshow .gamelist .gameitem{
    float: left;
    width: 111.5px;
    height: 111.5px;
    margin: 1% 0% 1% 0%;
    text-align: center;
    border: 1px solid gray;
    /*background: rgba(0,0,0,.5);*/
    background: #000000;
    opacity: 0.9;
    padding: 0.5%;
}

.nav .gameshow .gamelist .gameitem:nth-child(1){
    float: left;
    width: 111.5px;
    height: 111.5px;
    margin: 1% 0% 1% 0%;
    text-align: center;
    border: 0px solid gray;
    /*background: rgba(0,0,0,.5);*/
    background: #323333;
    opacity: 0.9;
    padding: 0.5%;
}

/**底部导航栏*/
/**底部导航栏*/
.page_buttom{
    position: relative;
    width: 100%;
    height: auto;
    /*background: rgba(50,51,51,1);*/
    background: #000000;
    opacity: 1;
    margin: auto;
    margin-top: 30px;
}
.page_buttom  .homepageintroduceshowlist{
    width: 1258px;
    height: auto;
    /*background: rgba(0,0,0,1);*/
    background: #000000;
    opacity: 1;
    margin: auto;

}
.page_buttom  .homepageintroduceshowlist .left{
    float: left;
    width: auto;
    height: auto;
    /*background: rgba(0,0,0,1);*/
    background: #000000;
    opacity: 1;
    margin: 5% 5% 5% 10%;

}
.page_buttom  .homepageintroduceshowlist .right{
    float: right;
    width: auto;
    height: auto;
    /*background: rgba(0,0,0,1);*/
    background: #000000;
    opacity: 1;
    margin: 4% 10% 4% 5%;
    color: white;
    font-size: 1em;


}