
/*** body 、nav，一级导航栏、二级导航栏、游戏展示栏、底部导航栏、报名，在功能页面commonpage  */

/**创建战队模态框 */
/** 查看战队*/
.nav .createtream_overlay{
    position: absolute;
    height: 100%;
    width:100%;
    background: rgba(0,0,0,0.6);
    visibility: hidden;
    top: 0px;
    z-index: 1000;
    text-align:center;
}
.nav .createtream_overlay .createtream_data{
    position: relative;
    width:550px;
    height: 500px;
    margin: 150px auto;
    background: #FEC06B;
    opacity: 1;   /* 背景半透明 */
    text-align:center;
    z-index: 1001;
}
.nav .createtream_overlay .createtream_data .cleanDialog{
    float: right;
}
.nav .createtream_overlay .createtream_data .treamTag .treamTagitem{
    width: 30%;
    float: left;
    margin: 1%;
}
.nav .createtream_overlay .createtream_data .treamTag .treamTagitem:nth-child(1){
    margin-left: 3%;
}
.nav .createtream_overlay .createtream_data .treamTag .treamTaglable{
    color: #FF9000;
    font-size: 25px;
}
.nav .createtream_overlay .createtream_data .treamTag .treamTagname{
    text-align: left
}
.nav .createtream_overlay .createtream_data .treamTag .treamTagname .treamTagnamespanlable{
    color: #FF9000;
    margin-top: 10px;
}
.nav .createtream_overlay .createtream_data .treamTag .treamTagNumber{
    padding-top: 10px;
}
.nav .createtream_overlay .createtream_data .treamLeader{
    width: 100%;
    background: #FEAC3E;
}
.nav .createtream_overlay .createtream_data .treamLeader .treamLeaderwrap{
    float: left;
    margin: 2%;
    margin-left:9.5%;
}
.nav .createtream_overlay .createtream_data .treammemberTag{
    width: 100%;
}
.nav .createtream_overlay .createtream_data .treammemberTag .treammemberTagwrap{
    float: left;
    margin: 2%;
    margin-left:9.5%;
}
.nav .createtream_overlay .createtream_data .treammemberinfo .treammemberitem{
    float: left;
    width: 30%;
    margin: 5% 0px;
}

/**创建战队*/
.nav .createtream_overlay .createtream_data .treamTag .treamTagMark{
    float: right;
    margin-top: 2%;
}
.nav .createtream_overlay .createtream_data .treamitem {
    margin: 20px 0;
    text-align: left;
    margin-left: 20px;
}
.nav .createtream_overlay .createtream_data .label{
    display:inline-block;  width:100px;  line-height: 44px;  color: #999; text-align: left;
}
.nav .createtream_overlay .createtream_data .treamiteminput{
    display:inline-block;width:250px;text-align: left; box-sizing: border-box;  padding: 10px 0;  border: 0;background-color: #ededed
}
.nav .createtream_overlay .createtream_data .error_message{
    display:inline-block; width:100px;text-align: left;margin-left: 10px;color: red;
}
.nav .createtream_overlay .createtream_data  .browsetreamwrap{
    display:inline-block; width:100px;text-align: left;margin-left: 10px;
}
.nav .createtream_overlay .createtream_data  .browsetreaminput{
    display:inline-block;width:155px;text-align: left; box-sizing: border-box;  padding: 10px 0;  border: 0;background-color: #ededed

}
.nav .createtream_overlay .createtream_data .browsetreamwrap .browsetreambtn{
    width: 60px;
    padding: 10px;
    text-align: center;
    background: #FE9200;
    color: white;
}
.nav .createtream_overlay .createtream_data .treammemberinfo .treammembercreateitem{
    float: left;
    width: 12%;
    margin: 2% 0px;
}
.nav .createtream_overlay .createtream_data .treammemberinfo .treammembercreateitem:nth-child(1){
    margin-left:22%;
}
.nav .createtream_overlay .createtream_data .treammemberinfo .treammembercreateitem:nth-last-child(2){
    opacity: 0.4;
}
.nav .createtream_overlay .createtream_data .submitCreate .browsetreambtn{
    display: inline-block;
    width: 60px;
    padding: 10px;
    text-align: center;
    background: #FE9200;
    color: white;
}

/**二级导航栏*/
.nav .nav_bar{
    width: 100%;
    height: 100px;
    /*background:  rgba(0,0,0,.5);*/
    background: #000000;
    opacity: 0.9;
}
.nav .nav_bar .nav_bar_left .title{
    position: absolute;
    float: left;
    margin: 0px 181px;
    margin-top: 25px;
}
.nav .nav_bar .nav_bar_right{
    float: right;
    margin: 0px 174px;
    margin-top: 25px;

}
.nav .nav_bar .nav_bar_right .title{
    color: #fff;
    float: left;
    margin: auto 23px;
    margin-top: 16px;
}
.nav .nav_bar .nav_bar_right .selected{
    color: #9BA96B;
}


/** banager区域 */
#wrap{
    position: relative;
    width:100% ;
    height: 450px;
    margin: 0px auto;
    background:red;
}
#wrap .pic{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}
#wrap .pic img{
    position:absolute;
    width: 100%;
    height: 100%;

}
#wrap .btn{
    display: none;
}
#wrap .btn span{
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 90px;
    margin-top: -45px;
    /*background: rgba(0,0,0,.5);*/
    background: #000000;
    opacity: 0.4;
    font-size: 20px;
    text-align: center;
    line-height: 90px;  /*设置垂直居中*/
    cursor: pointer;
    color: #ffffff;
}
#wrap .btn span.next{
    position: absolute;
    right: 0;
}
#wrap .lib{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px;
    padding: 10px;
    width:200px ;
    height: 10px;
    /*background: rgba(0,0,0,.5);*/
    background: #000000;
    opacity: 0.3;
    display: none;
}
#wrap .lib span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin-right: 12px;
    margin-left: 13.5px;
    margin-bottom: 10px;
    border-radius: 50%;
}
#wrap .lib span.on{
    background: red;
}
/**个人信息栏*/
#wrap .personalinfo .myterm{
    /*background: red;*/
}
#wrap .personalinfo .myterm .mytermimg{
    float: right;
}
#wrap .personalinfo{
    position: absolute;
    width: 980px;
    bottom:0;
    color: white;
    background: black;
    left: 140px;
}
#wrap .personalinfo  .myterm .title{
    float: left;
    margin: 15px 25px;
    font-size: 12px;
}

#wrap .personalinfo  .myterm .title span{
    font-size: 12px;
}

#wrap .personalinfo .title span{

}
#wrap .personalinfo .info{
    width: 100%;
    height: 80%;
    margin: 15px 25px;
}
#wrap .personalinfo .info .leftinfo{
    width: 80%;
    height: 80%;
    float: left;
}
#wrap .personalinfo .info .leftinfo .personalimg{
    width: 100px;
    height: 100px;
    float: left;
}
#wrap .personalinfo .info .leftinfo .right{
    position: relative;
    width: 320px;
    height: 110px;
    border: 0px solid royalblue;
    margin-left: 18px;
    margin-top: -3px;
}
#wrap .personalinfo .info .leftinfo .right .up{
    position: absolute;
    top: 0px;
    margin: 0% 0 0 3%;
}
#wrap .personalinfo .info .leftinfo .right .up .top{

}
#wrap .personalinfo .info .leftinfo .right .up .top .sayHello{
    font-size: 24px;
}
#wrap .personalinfo .info .leftinfo .right .up .top .logout{
    font-size: 12px;
    color: #007BA7;
    margin-left: 12px;
    margin-right: 24px;
}
#wrap .personalinfo .info .leftinfo .right .up .middle{
    margin: 2% 0 0 30px;
}
#wrap .personalinfo .info .leftinfo .right .up .middle span {
    font-size: 12px;
    color: #007BA7;
    margin: 0 0 0 5%;
}
#wrap .personalinfo .info .leftinfo .right .down{
    position:absolute;
    bottom: 0px;
    margin: 0% 0 0% 3%;
}
#wrap .personalinfo .info .leftinfo .right .down .paycoupon{
    margin-left: 22px;
}

#wrap .personalinfo .info .rightinfo{
    float: right;
    background: black;
    margin-right: 45px;
    height: 100px;
    margin-top: -16px;

}
#wrap .personalinfo .info .rightinfo .rightinfoitem{
    /*background: black;*/
    margin: 0% auto;
    margin-top: 10px;
    color: #FDF794;
}
#wrap .personalinfo .info .rightinfo .rightinfoitem .itemtag{
    float: left;
    font-size: 12px;
    margin: 5px 0 0 0;
    border:0px solid royalblue;
}

#wrap .personalinfo .info .rightinfo .rightinfoitem .itemtag img{
}
#wrap .personalinfo .info .rightinfo .rightinfoitem .itemtag span{
    font-size: 12px;
}

#wrap .personalinfo .info .rightinfo .rightinfoitem .iteminfo{
    float: right;
    font-size: 18px;
    margin: 0px 0 0 45px;
    border: 0px solid royalblue;
}

/**游戏列表区域*/
.nav .personalgameshow{
    position: relative;
    width: 986px;
    height: auto;
    margin:auto;
}
.nav .personalgameshow .gamelist{
    float: left;
    width: 100%;
    height: auto;
    margin: 1% 0% 0% 0%;
    border: 0px solid royalblue;

}
.nav .personalgameshow .gamelist .gameitem{
    float: left;
    width: 120.5px;
    height: 120.5px;
    margin: 1% 0% 0% 0%;
    text-align: center;
    border: 1px solid gray;
    /*background: rgba(0,0,0,.5);*/
    background: #000000;
    font-size: 17px;
    /*padding: 0.5%;*/
}
.nav .personalgameshow .gamelist .gameitemOn{
    float: left;
    width: 120.5px;
    height: 120.5px;
    margin: 1% 0% 0% 0%;
    text-align: center;
    border: 1px solid gray;
    border-bottom: 0px;
    /*background: rgba(0,0,0,.5);*/
    background: #323333;
    /*padding: 0.5%;*/
}
/*.nav .personalgameshow .gamelist .gameitem:nth-child(1){*/
    /*float: left;*/
    /*width: 9.8%;*/
    /*margin: 1% 0% 0% 0%;*/
    /*text-align: center;*/
    /*border: 1px solid gray;*/
    /*border-bottom: 0px;*/
    /*!*background: rgba(0,0,0,.5);*!*/
    /*background: #000000;*/
    /*padding: 0.5%;*/
/*}*/

/* 游戏详细 */
.nav .gameinfoshow{
    width: 986px;
    color: white;
    margin: 0 auto;
    border: 0px solid royalblue;
}
.nav .gameinfoshow .upwrap{
    /*border: 1px solid gray;*/
}
.nav .gameinfoshow .downwrap{
    /*border: 1px solid gray;;*/
}
.nav .gameinfoshow .upinfo{
    float: left;
    width: 325.3px;
    min-height: 200px;
    height: auto;
    border: 0px solid red;
    text-align: center;
}
.nav .gameinfoshow .upinfo:nth-child(1){
    border: 1px solid gray;
    border-top: 0;
    border-right:0;
    border-bottom: 0;
}
.nav .gameinfoshow .left .personhonorinfo:nth-child(1){
    margin-top: 42px;
}
.nav .gameinfoshow .left .personhonorinfo .personhonorinfoitem{
    float: left;
    width: 23%;
    font-size: 14px;
    text-align: center;
    margin: 1%;
}

.nav .gameinfoshow .left .personhonorinfo .personhonorinfoitem:nth-child(1){
    float: left;
    width: 26%;
    font-size: 14px;
    text-align: center;
    margin: 1%;
}

.nav .gameinfoshow .left .personhonorinfo .personhonorinfoitem:nth-child(3){
    float: left;
    width: 16%;
    font-size: 14px;
    text-align: center;
    margin: 1% 5% 1% 0.5%;
}
.nav .gameinfoshow .upinfo:nth-child(2){
    border: 1px solid gray;
    border-top: 0;
    border-bottom: 0;

}
.nav .gameinfoshow .middle .top{

    margin-top: 42px;
}
.nav .gameinfoshow .middle .top .left{
    width: 30%;
    float: left;
    margin: 1%;
}
.nav .gameinfoshow .middle .top .right{
    width: 30%;
    float: right;
    margin: 1%;
}
.nav .gameinfoshow .middle .middle{
    width: 90%;
    margin: 3%;
    margin-top: 8%;
    background:#1A1A1A;
}
.nav .gameinfoshow .middle .middle .item{
    float: left;
    width: 26%;
    border: 0px solid red;
    margin: 8px 0.2%;
}

.nav .gameinfoshow .middle .middle .item:nth-child(1){
    float: left;
    width: 18%;
    border: 0px solid red;
    margin: 8px 0.5%;
}
.nav .gameinfoshow .middle .down{
    width: 90%;
    margin: 3%;
    margin-top: 8%;
    background:#1A1A1A;
}
.nav .gameinfoshow .middle .down .item{
    float: left;
    width: 47%;
    border: 0px solid red;
    margin: 8px 0.5%;
}
.nav .gameinfoshow .middle .down .item:nth-child(1){
    float: left;
    width: 47%;
    border: 0px solid red;
    margin: 8px 0.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.nav .gameinfoshow .upinfo:nth-child(3){
     border: 1px solid gray;;
     border-top: 0;
     border-left: 0;
     border-bottom: 0;
 }

.nav .gameinfoshow .upinfo:nth-child(4){
    border: 1px solid gray;;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.nav .gameinfoshow .upinfo:nth-child(5){
    border: 1px solid gray;;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.nav .gameinfoshow .down .matchtop{
    width: 92%;
    margin-top: 25px;
    margin-left: 4%;
    margin-right: 4%;
    background:#1A1A1A;
    padding: 10px 0;
}
.nav .gameinfoshow .down .matchtop .left{
    width:30%;
    float: left;
    font-size: 18px;
    margin: 0% 2%;
 }
.nav .gameinfoshow .down .matchtop .middle{
    width:30%;
    float: left;
    font-size: 18px;
}
.nav .gameinfoshow .down .matchtop .right{
    width:30%;
    float: right;
    font-size: 18px;
    margin: 0% 2%;
}
.nav .gameinfoshow .down .matchmiddle{
    margin-top: 5%;
    text-align: center;
}
.nav .gameinfoshow .down .matchmiddle .matchmiddlespan{
    width: 30px;
    height: 60px ;
}
.nav .gameinfoshow .down .matchbuttom{
    margin-top: 2%;
    text-align: center;
}
.nav .gameinfoshow .dowmtab{
    float: left;
    width: 325.3px;
    border: 0.5px solid gray;
    border-top: 0;
    text-align: center;
    padding:10px 0;
    background: #1A1A1A;
}
.nav .gameinfoshow .dowmtab:nth-child(2){
    float: left;
    width: 325.3px;
    border: 0.3px solid gray;
    border-top: 0;

    text-align: center;
    padding:10px 0;
    background: #1A1A1A;
}


/**排行榜区域*/
.nav .ranking{
    position: relative;
    width: 82%;
    height: auto;
    background: #fff;
    margin: auto;
    margin-left: 10.2%;
    border: 0px royalblue solid;

}
.nav .ranking .rankinglist{
    float: left;
    width: 228px;
    margin: 3% 0% 1% 1.5%;
    margin-top: 12px;
    text-align: center;
    border: 0px solid red;
}
.nav .ranking .rankinglist .rankTag{
    width:100%;
    height: 46px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 6px;
    color: white;
    border-radius: 5px;

}
/*.nav .ranking .ranklist{*/
/*height: 300px;*/
/*overflow-y: auto;*/
/*overflow-x: hidden;*/
/*scrollbar-arrow-color: #f4ae21; !**!!*三角箭头的颜色*!*/
/*scrollbar-face-color: #333; !**!!*立体滚动条的颜色*!*/
/*scrollbar-3dlight-color: #666; !**!!*立体滚动条亮边的颜*/
/*色*!*/
/*scrollbar-highlight-color: #666; !**!!*滚动条空白部分的*/
/*颜色*!*/
/*scrollbar-shadow-color: #999; !**!!*立体滚动条阴影的颜*/
/*色*!*/
/*scrollbar-darkshadow-color: #666; !**!!*立体滚动条强阴*/
/*影的颜色*!*/
/*scrollbar-track-color: #666; !**!!*立体滚动条背景颜色*!*/
/*scrollbar-base-color:#f8f8f8; !**!!*滚动条的基本颜色*!*/
/*}*/
.nav .ranking .rankinglist .rankli{
    list-style-type: none;
    background: white;
    border-radius: 0px;
    border: 0px solid red;
    border-radius: 5px;
    width: 100%;
    height: 58px;

}
.nav .ranking .rankinglist .rankli:nth-child(1){
    list-style-type: none;
    background: white;
    width: 106%;
    height: 58px;
    margin-left: -2.7%;
    border-radius: 5px;
    border: 1px solid grey;


}
.nav .ranking .rankinglist .rankli:nth-child(1) .left{
    margin-left: 20px;
}
.nav .ranking .rankinglist .rankli:nth-child(1) .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 27px;
}
.nav .ranking .rankinglist .rankli:nth-child(2){
    list-style-type: none;
    background: white;
    /*width: 108%;*/
    /*height: 125%;*/
    /*margin-left: -8px;*/
}
.nav .ranking .rankinglist .rankli:nth-child(2) .right{
    /*color: rgba(143,129,251,1);*/
    color: #8F81FB;
    font-size: 20px;
}
.nav .ranking .rankinglist .rankli:nth-child(3){
    list-style-type: none;
    background: white;
    /*width: 105%;*/
    /*height: 120%;*/
    /*margin-left: -5px;*/
}
.nav .ranking .rankinglist .rankli:nth-child(3) .right{
    /*color: rgba(62,148,145,1);*/
    color: #3E9491;
    font-size: 18px;
}

/*奖品排行排版*/
.nav .ranking .awardrankinglist{
    float: left;
    width: 237px;
    margin: 3% 0% 1% 1.5%;
    margin-top: 12px;
    text-align: center;
    border: 0px solid red;
}
.nav .ranking .awardrankinglist .rankTag{
    width:100%;
    height: 46px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 6px;
    color: white;
    border-radius: 5px;

}
.nav .ranking .awardrankinglist .rankli{
    list-style-type: none;
    /*background: white;*/
    border-radius: 0px;
    border: 0px solid red;
    width: 100%;
    height: 58px;
}
.nav .ranking .awardrankinglist .rankli:nth-child(1){
    list-style-type: none;
    background: #FECB00;
    width: 106%;
    height: 58.5px;
    margin-left: -2.7%;
    border-radius: 5px;
    border-bottom: 1px solid grey;

}
.nav .ranking .awardrankinglist .rankli:nth-child(1) .left{
    margin-left: 22px;
}
.nav .ranking .awardrankinglist .rankli:nth-child(1) .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
    color: white;

}
.nav .ranking .awardrankinglist .rankli:nth-child(2){
    list-style-type: none;
    /*background: white;*/
    /*width: 108%;*/
    /*height: 125%;*/
    /*margin-left: -8px;*/
}
.nav .ranking .awardrankinglist .rankli:nth-child(2) .right{
    /*color: rgba(143,129,251,1);*/
    color: #ffcb00;
    font-size: 20px;
}
.nav .ranking .awardrankinglist .rankli:nth-child(3){
    list-style-type: none;
    /*background: white;*/
    /*width: 105%;*/
    /*height: 120%;*/
    /*margin-left: -5px;*/
}
.nav .ranking .awardrankinglist .rankli:nth-child(3) .right{
    /*color: rgba(62,148,145,1);*/
    color: #abc9ec;
    font-size: 18px;
}
.nav .ranking .awardrankinglist .rankli .left{
    float: left;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-buttom: 10px;
    margin-left: 16px;
    border: 0px solid green;
}
.nav .ranking .awardrankinglist .rankli .middle{
    float: left;
    width: 35%;
    text-align: center;
    margin: 5px 0px;
    margin-top: 10px;
    margin-buttom: 10px;
    border: 0px solid green;
}
.nav .ranking .awardrankinglist .rankli .middle .middlesub{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: white;
}
.nav .ranking .awardrankinglist .rankli .middle .middlesubicon{
    float: left;
    margin-left: 10px;
}
.nav .ranking .awardrankinglist .rankli .middle .middlesubdownright{
    float: left;
    margin-left: 2px;
    font-size: 12px;
    margin-top: 3px;
    color: white;
}
.nav .ranking .awardrankinglist .rankli .right{
    float: right;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-buttom: 10px;
    margin-right: 22px;
    border: 0px solid green;
    color:white;
}
.nav .ranking .rankli:hover{
    list-style-type: none;
    background: white;
    width: 106%;
    height: 58px;
    margin-left: -2.7%;
    border-radius: 5px;
}
.nav .ranking .rankinglist .rankli:hover .left{
    margin-left: 22px;
}
.nav .ranking .rankinglist .rankli:hover .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
}
.nav .ranking .awardrankinglist .rankli:hover{
    list-style-type: none;
    background: #FECB00;
    width: 106%;
    height: 58px;
    margin-left: -2.7%;
    border-radius: 5px;
}
.nav .ranking .awardrankinglist .rankli:hover .left{
    margin-left: 22px;
}
.nav .ranking .awardrankinglist .rankli:hover .right{
    /*color: rgba(253,123,3,1);*/
    color: #FD7B03;
    font-size: 25px;
    margin-right: 30px;
}
.nav .ranking .rankli .left{
    float: left;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-buttom: 10px;
    margin-left: 16px;
    border: 0px solid green;
}
.nav .ranking .rankli .middle{
    float: left;
    width: 35%;
    text-align: center;
    margin: 5px 0px;
    margin-top: 10px;
    margin-buttom: 10px;
    border: 0px solid green;
}
.nav .ranking .rankli .middle .middlesub{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #4d4d4d;

}
.nav .ranking .rankli .middle .middlesubicon{
    float: left;
    margin-left: 10px;
}
.nav .ranking .rankli .middle .middlesubdownright{
    float: left;
    margin-left: 2px;
    font-size: 12px;
    margin-top: 3px;
    color: #808080;
}
.nav .ranking .rankli .right{
    float: right;
    width: auto;
    text-align: center;
    margin: 5px;
    margin-top: 14px;
    margin-buttom: 10px;
    margin-right: 22px;
    border: 0px solid green;
}



/**比赛列表*/
.nav .matcchlist{
    width: 81%;
    height: auto;
    color: white;
    margin: 1% 6% 1% 10%;
    border: 0px solid rebeccapurple;
}
.nav .matcchlist .left{
    float: left;
    width: 47%;
    height: 360px;
    color: white;
    border: 0px solid red;
    margin: 0% 0% 0% 1.5% ;
    background: #2C2C2C;
}
.nav .matcchlist .right{
    float: left;
    width: 47%;
    height: 360px;
    color: white;
    border: 0px solid red;
    margin: 0% 1% 0% 1% ;
    background: #2C2C2C;
}
.nav .matcchlist .lefttab{
    float: left;
    width: 47%;
    height: 40px;
    color:white;
    border: 0px solid red;
    margin: 1% 0% 0% 1.5% ;
    background: #1A1A1A;
    opacity: 0.5;
    text-align: center;
    padding-top: 20px;
}
.nav .matcchlist .righttab{
    float: left;
    width: 47%;
    height: 40px;
    color: white;
    border: 0px solid red;
    margin: 1% 1% 0% 1% ;
    background: #1A1A1A;
    opacity: 0.5;
    text-align: center;
    padding-top: 20px;
}

/*比赛列表左*/
.nav .matcchlist .left .ranktab{
    width: 97.8%;
    border: 0px solid royalblue;
    padding: 3% 1%;
    background: #181818;
    color: white;
}
.nav .matcchlist .left .ranktab .rankingtab{
    margin-left: 10%;
}
.nav .matcchlist .left .ranktab .nametab{
    margin-left: 20%;
}
.nav .matcchlist .left .ranktab .wintab{
    margin-left: 20%;
}
.nav .matcchlist .left .ranktab .failtab{
    margin-left: 5%;
}
.nav .matcchlist .left .ranktab .integraltab{
    margin-left: 10%;
    margin-right: 3%;
}
.nav .matcchlist .left .ranklistwrap{
    height: 100%;
}
.nav .matcchlist .left .ranklistwrap .ranklist{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-arrow-color: #f4ae21; /**//*三角箭头的颜色*/
    scrollbar-face-color: #333; /**//*立体滚动条的颜色*/
    scrollbar-3dlight-color: #666; /**//*立体滚动条亮边的颜
    色*/
    scrollbar-highlight-color: #666; /**//*滚动条空白部分的
    颜色*/
    scrollbar-shadow-color: #999; /**//*立体滚动条阴影的颜
    色*/
    scrollbar-darkshadow-color: #666; /**//*立体滚动条强阴
    影的颜色*/
    scrollbar-track-color: #666; /**//*立体滚动条背景颜色*/
    scrollbar-base-color:#f8f8f8; /**//*滚动条的基本颜色*/
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli{
    list-style-type: none;
    margin: 0% 0%;
    padding: 3% 0%;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli .rankitem .rank{
    margin-left: 8%;
    color: black;
    font-size: 24px;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli:nth-child(1) .rankitem .rank{
    margin-left: 8%;
    color: #FD8004;
    font-size: 24px;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli .rankitem .rankimg{
    margin-left: 12%;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli .rankitem .name{
    margin-left: 2%;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli .rankitem .win{
    margin-left: 9%;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli .rankitem .fail{
    margin-left: 5%;
}
.nav .matcchlist .left .ranklistwrap .ranklist .rankli .rankitem .integral{
    margin-left: 11%;
    margin-right: 0%;
}

/*比赛列表右*/
.nav .matcchlist .right .ranktab{
    width: 97.8%;
    border: 0px solid royalblue;
    padding: 3% 1%;
    background: #181818;
    color: white;
}
.nav .matcchlist .right .ranktab .rankingtab{
    margin-left: 10%;
}
.nav .matcchlist .right .ranktab .nametab{
    margin-left: 20%;
}
.nav .matcchlist .right .ranktab .wintab{
    margin-left: 20%;
}
.nav .matcchlist .right .ranktab .failtab{
    margin-left: 5%;
}
.nav .matcchlist .right .ranktab .integraltab{
    margin-left: 10%;
    margin-right: 3%;
}

/*比赛列表详细*/
.nav .matcchlist .right .ranklistinfo{
    margin-top: 140px;
    border: 0px solid royalblue;

}
.nav .matcchlist .right .ranklistinfo  .rankitem .rank{
    margin-left: 10%;
}
.nav .matcchlist .right .ranklistinfo .rankitem .rankimg{
    margin-left: 12%;
}
.nav .matcchlist .right .ranklistinfo .rankitem .name{
    margin-left: 2%;
}
.nav .matcchlist .right .ranklistinfo  .rankitem .win{
    margin-left: 11%;
}
.nav .matcchlist .right .ranklistinfo  .rankitem .fail{
    margin-left: 4%;
}
.nav .matcchlist .right .ranklistinfo  .rankitem .integral{
    margin-left: 11%;
    margin-right: 0%;
}